[project]
	description = for training
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eqsecurephone
[access "refs/for/refs/*"]
	read = group user/eqsecurephone
	push = group user/eqsecurephone
	label-Code-Review = -2..+2 group user/eqsecurephone
	label-Verified = -1..+1 group user/eqsecurephone
	rebase = group user/eqsecurephone
	removeReviewer = group user/eqsecurephone
	submit = group user/eqsecurephone
[access "refs/heads/*"]
	read = group user/eqsecurephone
	create = group user/eqsecurephone
	push = +force group user/eqsecurephone
	pushMerge = group user/eqsecurephone
[access "refs/tags/*"]
	push = +force group user/eqsecurephone
	pushTag = group user/eqsecurephone
	pushSignedTag = group user/eqsecurephone
