[project]
	description = for training
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Git Training (eqsecurephone)
[access "refs/for/refs/*"]
	read = group user/Git Training (eqsecurephone)
	push = group user/Git Training (eqsecurephone)
	label-Code-Review = -2..+2 group user/Git Training (eqsecurephone)
	label-Verified = -1..+1 group user/Git Training (eqsecurephone)
	rebase = group user/Git Training (eqsecurephone)
	removeReviewer = group user/Git Training (eqsecurephone)
	submit = group user/Git Training (eqsecurephone)
[access "refs/heads/*"]
	read = group user/Git Training (eqsecurephone)
	create = group user/Git Training (eqsecurephone)
	push = +force group user/Git Training (eqsecurephone)
	pushMerge = group user/Git Training (eqsecurephone)
[access "refs/tags/*"]
	push = +force group user/Git Training (eqsecurephone)
	pushTag = group user/Git Training (eqsecurephone)
	pushSignedTag = group user/Git Training (eqsecurephone)
